<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
        <!--Add a nav bar here -->
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <div class="navbar-header">
                      <a class="navbar-brand" href="/djangoapp/">Car Dealership Review: </a>
                      <a class="navbar-brand" href="/djangoapp/">Home</a>
                      <a class="navbar-brand" href="#">About Us</a>
                      <a class="navbar-brand" href="/djangoapp/contact/">Contact Us</a>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-success" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </nav>
    <div class="row">
        <div class="col-sm-4"></div>
            <div class="col-sm-4">
              
                <h1 style="color:green">BEST Car Dealership</h1>
                <p style="color:blue">
                     Welcome to Best Cars dealership, <br></br>
                    home to the best cars in North America. <br></br>
                    We sell domestic and imported cars at <br></br>
                    reasonable prices.<br></br>
                </p>
            </div>
   
            <div class="col-sm-4"></div>
           
 
</body>
</html>