<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
        <!--Add a nav bar here -->
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                      <a class="navbar-brand" href="/">Car Dealership Review</a>
                      <a class="navbar-brand" href="/about/">About Us</a>
                      <a class="navbar-brand" href="#">Contact Us</a>
                </div>
            </div>
        </nav>

    <h1>BEST Car Dealership</h1>
    <h2>Contact Us:</h2>
    <p>
         Find us at 73 Broken Bend Boulevard <br></br>
         Call us on 777 333 7733 <br></br>
         Email: BEST at brokenbend.com <br></br>
    </p>
 
</body>
</html>